<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <% if params[:plan] == '1' %>
        <div class="text-center">
          <h2><strong>Basic Account</strong></h2>
          <p>Sign up for free and get basic access to the community.</p>
        </div>
        <div class="well">
          <%= render "basic_form" %>
        </div>
      <% else %>
        <div class="text-center">
        <h2><strong>Pro Account</strong></h2>
        <p>Sign up for the pro account and get exclusive contect.</p>
        </div>
        <div class="well">
          <%= render "pro_form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>