<div class="container text-center">
    <h1>About Page</h1>
    <br>
    <p>This is a page created by Steven to practice web developement.
    Some of the technologies integrated to this site include:
    Ruby on Rails, HTML, SCSS /w BootStrap, and PostGRES/SQLite3</p>
</div>