<div class="container text-center">
    <h1>About Page</h1>
    <br>
    <p>This is a page created by Steven to practice web developement. Still a work
    in progress.</p>
    <form>
        <ul>
        <h2>Features include:</h2>
        <li>A user interface</li>
        <li>Login/Logout system with authentication</li>
        <li>Email notifications</li>Email notifications
        <li>Subscription payments for premium services</li>
        <br/>
        <h2>Technologies used:</h2>
        <li>HTML</li>
        <li>CSS/SCSS</li>
        <li>Javascript</li>
        <li>Ruby on Rails</li>
        <li>PostgreSQL/SQLite</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
        <br/>
        <h2>Gems/APIs</h2>
        <li>Figaro</li>
        <li>Devise (Account setup)</li>
        <li>Stripe (Payment system)</li>
        <li>Hirb</li>
        <li>Mailgun (Email system)</li>
        </ul>
    </form>

</p>
</div>