<div class="container text-center">
    <h1>About Page</h1>
    <p>Welcome to the next chapter in data storage. Welcome to Space Saver by Pied Piper.</p>
    <p>In a world where data stores are growing faster than ever and managing 
    that storage is getting ever more complex, Space Saver is here to make 
    everything smaller so you have more room for the things that really matter.</p>
    <p>Our revolutionary compression, mixed with industry standard encryption,
    makes Space Saver the perfect tool to lower server costs as well as keep 
    client records safe. In addition to the limitless enterprise applications,
    Space Saver can be used on any device, so even your personal memory-clogged
    phones, laptops or tablets will be running like the day you got them.</p> 
    <p>So go ahead, bring on those extra clients, download that additional step
    counting app, take that video of your friend Gloria dancing to her favorite
    Andrews Sisters tune – Space Saver is here to save the day.</p>
</div>