<div class="container plan-page">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <br/>
                <%= link_to "Who doesn't love free stuff?", 
                new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-block" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <br/>
            <%= link_to "Lets burn a hole in that pocket of yours.", 
            new_user_registration_path(plan: @pro_plan.id), class: "btn btn-danger btn-block" %>
        </div>
        </div>
    </div>
</div>