<div class="container plan-page">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <br/>
                <h4>Sign up for free and get basic access.</h4>
                <br/>
                <%= link_to "Sign up basic", "#", class: "btn btn-primary btn-block" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <br/>
            <h4>Sign up for the pro account for $5 a month, and get access 
            to exclusive content</h4>
            <%= link_to "Sign up pro", "#", class: "btn btn-danger btn-block" %>
        </div>
        </div>
    </div>
</div>