/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    
    background-color: beige;
    
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 500%;
    letter-spacing: -3px;
    }

// Main page title
.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

// Navbar color and hover styles
.navbar-default .navbar-brand , .navbar-default .navbar-nav > li > a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle {
    border: 1.5px solid white;
    &:hover, &:focus {
        background-color: #92da69;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

// Navbar background colours
.navbar, .home-callout {
    background: #8fe261;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56ab2f, #86d659);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56ab2f, #86d659); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.well{
background: rgba(255,255,255,.3);
}

