/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// .bgwallpaper {
//     position: relative;
// }

ul {
    // text-align: center;
    list-style-position: inside;
}

.flash-container {
//   position: absolute;
  width: 100%;
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 0, 0, 0.05);
  border-color: rgba(255, 0, 0, 0.1);
  margin-top: -14px;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}

.fade-in {
  -webkit-transition:opacity .4s ease-out;
  -moz-transition:opacity .4s ease-out;
  -ms-transition:opacity .4s ease-out;
  transition:opacity .4s ease-out;
  opacity:0.7;
}

.fade-in:hover {
  opacity: 1;
}

body {
    background-color: FloralWhite;
}

h1, h2, h3, h4, h5, h6, label, li {
    font-family: 'Open Sans', sans-serif;
}

// Main page title

.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

// Navbar color and hover styles
.navbar-default .navbar-brand , .navbar-default .navbar-nav > li > a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: .8;
    transition:opacity .25s ease-out;
    &:hover, &:active, &:focus {
        color: white;
        opacity: 1;
        transition:opacity .4s ease-out;
    }
}

.navbar-default .navbar-toggle {
    border: 1.5px solid white;
    &:hover, &:focus {
        background-color: #92da69;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar {
    background: #144017;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3DBF45, #3DBF45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3DBF45, #3DBF45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
// Button tweaks on navbar
.navbarbtntweak {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 3px;
    &:active, &:hover, &:focus, &:active:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    }
}

.well{
background: rgba(0,0,0,.025);
}

//Plans page

.plan-page {
    margin-top: 30px;
}